* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    padding: 20px;
    background: #f2f2f2;
    color: #111;
    transition: 0.3s;
}


body.dark {
    background: #111;
    color: #eee;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #777;
    padding-bottom: 15px;
    margin-bottom: 25px;
}



h1 {
    font-size: 28px;
    margin: 0;
}



main {
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}




.card {

    border: 1px solid #888;
    padding: 20px;

    background: transparent;

}




h2 {

    margin-top: 0;

}



input,
select,
button {


    width: 100%;

    padding: 12px;

    margin-top: 10px;

    font-size: 16px;


    background: transparent;

    color: inherit;

    border: 1px solid #777;

}



button {

    cursor: pointer;

    margin-top: 20px;

}



button:hover {

    background: #ddd;

}



.dark button:hover {

    background: #333;

}




.imageBox {

    width: 100%;

    min-height: 150px;

    margin-top: 15px;

    border: 1px solid #777;

    display: flex;

    justify-content: center;

    align-items: center;

}



.imageBox img {

    max-width: 100%;

    max-height: 500px;

    object-fit: contain;

}




progress {

    width: 100%;

    height: 25px;

    margin-top: 15px;

}




#status {

    text-align: center;

    font-size: 14px;

}




@media (min-width:700px){


main {

    display:grid;

    grid-template-columns: repeat(2,1fr);

}


.card:last-child {

    grid-column: span 2;

}


}

.console {

    background: black;
    color: white;

    font-family: monospace;

    padding: 15px;

    margin-top: 15px;

    border-radius: 8px;

    height: 200px;

    overflow-y: auto;

    text-align: left;

}


/* Inverse en mode sombre */

body.dark .console {

    background: white;

    color: black;

}